<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @admin.pass %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin.description %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
