<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= User.find(@card.user_id).name %>
</p>

<p>
  <strong>Card uid:</strong>
  <%= @card.card_uid %>
</p>

<p>
  <strong>Card type:</strong>
  <%= @card.card_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @card.description %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back to Card', cards_path %>
<%= link_to 'Back to User', users_path %>
